# Для локальной разработки (вне Docker):
DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_NAME=map_app
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Для запуска внутри docker-compose значения переопределяются через environment
